.container{
	box-sizing:border-box;
}

.box{
	width:200px;
	height:200px;
	background-color:skyblue;
	border:2px solid black;
	color:purple;
	display:flex;
	align-items:center;
	justify-content:center;
}